VITE_API_BASE_URL=http://localhost:3000/api/v1
VITE_DEFAULT_POSTER_URL=http://localhost:9000/gatherflow/posters/default.webp

VITE_GOOGLE_RECAPTCHA_SITE_KEY=<your-site-key>
VITE_GOOGLE_API=<your-google-api-key>
VITE_STRIPE_PUBLISHABLE_KEY=<your-stripe-publishable-key>